.gallery{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.leftSide{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftSideUpper{
    height: 40%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.leftSideUpperLeft{
    flex: 1;
}

.leftSideUpperRight{
    flex: 1;
}

.leftSideLower{
    height: 60%;
    width: 100%;
    display: flex;
}

.rightSide{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}