*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Poppins, sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
}

.nav{
    height: 100px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.nav>ul{
    list-style: none;
    display: inline-flex;
    gap: 30px;
    font-size: 20px;
}

.content{
    height: calc(100vh - 100px);
    width: 100%;
    display: inline-flex;
}

.intro{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}

.Intro_img{
    height: 100%;
    width: 40%;
}

.mission{
    height: 100vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-flex;
}

.mission_img{
    height: 100%;
    width: 50%;
}

.mission_intro{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.founder{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /* padding: 100px 0; */
}

.founder_img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: url('../src/assets/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.course{
    height: 200vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.course_card{
    height: 350px;
    width: 320px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    transform: scale(0.9);
    transition: 0.5s ease;
}

.course_card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
}

.card_img{
    height: 80%;
    width: 100%;
}

.Gallery{
    height: 130vh;
    width: 100%;
    text-align: center;
}

.Form{
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form_box{
    height: 580px;
    width: 620px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Form_box>label{
    color: #99A3B3;
    font-size: 14px;
}

.Form_box>label>span{
    color: red;
}

.Form_box>input{
    height: 45px;
    border: 1px solid #99A3B3;
    outline-color: #99A3B3;
    padding-left: 10px;
}

.Form_box>textarea{
    border: 1px solid #99A3B3;
    outline-color: #99A3B3;
}

.Form_box>button{
    height: 45px;
    border: none;
    background-color: #006838;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.Form_box>button:hover{
    background-color: beige;
    color: #006838;

}

.footer{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #99A3B3;
    padding: 0 70px;
}

.footer>ul{
    list-style: none;
    color: #006838;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer>ul>li{
    cursor: pointer;
}

.footer>ul>li:nth-child(1){
    font-weight: 700;
    margin-bottom: 10px;
}

.copyWrite{
    height: 60px;
    width: 100%;
    background-color: #F0FFF4;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
